body {
    display: grid;
}

.anterior {
    background-color: rgb(110, 110, 244);
    width: 15vw;
    height: 15vh;
    border: 3px solid blue;
}

.cenefa {
    margin-top: -1.3em;
    background-image: url(/supermario/img/f01.png);
    background-repeat: no repeat;
}

.mario {
    margin-top: -5em;
}

.prueba {
    margin-left: 2em;
    background-color: rgb(110, 110, 244);
    width: 25vw;
    height: 40vh;
    border: 3px solid red;
    /* background-image: url(/supermario/img/f01.png); */
}

.mario-p {
    margin-top: 6.4em;
}

.cenefa-p {
    margin-top: -1.3em;
    background-image: url(/supermario/img/f01.png);
    background-repeat: no repeat;
}

.nube-p {
    background-image: url(/supermario/img/f03.png);
    background-repeat: no repeat;
}