table {
    border: 1px solid black;
    text-align: center;
    background-image: url("../images/c97ab50800360241e86acf31a3eba62d.jpg");
    text-align: center;
    justify-content: center;
    align-items: center;
}

th {
    border: 1px solid black;
    width: 400px;
    background-color: olivedrab;
}

td {
    border: 1px solid black;
}

.objetos {
    background-color: orange;
}

.tamaño {
    background-color: rgb(241, 241, 103);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}